.SetHeader {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1%;
    background-color: rgba(240, 240, 240, 0.7);
}

.SetHeaderTitle {
    font-weight: bold;
    font-size: large;
    padding-right: 25px;
    padding-left: 15px;
}

.SetHeaderRenameButton {
    margin-left: 7px;
}

.Sets_ScrollView {
    width: 30vw;
}

.MultisetContainer_ContentDrawer {
    display: flex;
    flex-flow: column nowrap;
    min-width: 70vw;
    height: 93vh;
}

.Set,
.SetSettingsPanel,
.AdvancedSettings {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 3px;
    padding-right: 6px;
    padding-bottom: 3%;
}

.SetSettingsPanel {
    padding-left: 1px;
    padding-right: 1px;
}

.MultisetContainer,
.MultisetContainerContent {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.ThreeStateSelectorSelector {
    margin-top: 7px;
    border: 1px solid rgba(221, 221, 221, 255);
    border-radius: 5px;
    padding: 10px;
    color: rgba(153, 153, 153, 255);
}