.CustomersActivity_CommonSettingsPanel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    gap: 10px;
    flex: 1;
    height: 18vh;
    min-width: 70vw;
}

.CustomersActivityToolbar {
    background-color: rgba(246, 246, 246, 0.5);
    justify-content: flex-start;
    min-height: 7vh;
}

.CustomersActivityToolbar,
.CustomersActivityToolbarMenu,
.CustomersActivityToolbarCommands {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

.CustomersActivityToolbarMenu,
.CustomersActivityToolbarCommands {
    gap: 12px;
}

.CustomersActivityToolbarMenu {
    padding-left: 1%;
    padding-right: 1%;
    width: 27vw;
    gap: 12px;
}

.CustomersActivityToolbarCommands {
    justify-content: flex-end;
    padding-right: 2%;
    flex: 1;
}

.CustomersActivityMenuButton,
.CustomersActivityDownloadButton,
.CustomersActivitySaveStateButton,
.CustomersActivityDropStateButton,
.CustomersActivityShareStateButton,
.CustomersActivityViewStateSelector,
.CustomersActivityToolbarSeparator,
.CustomersActivityAdvancedSettingsButton,
.CustomersActivityHelpButton {
    margin-top: 7px;
    margin-bottom: 7px;
}

.CustomersActivityToolbarSeparator {
    background-color: rgb(221, 221, 221);
    width: 2px;
    border-radius: 25px;
    margin-left: 2px;
    margin-right: 2px;
}

.CustomersActivity_PeriodSelector {
    margin-bottom: 0px;
    padding-right: 0px;
    margin-right: 0px;
    flex: 2;
}

.CustomersActivity_GroupByPeriodSelector,
.CustomersActivity_MetricSelector,
.CustomersActivity_ComparisonMethodSelector {
    min-height: 3rem;
    height: 3rem;
    flex: 1;
}

.CustomersActivity_GroupByPeriodSelector,
.CustomersActivity_MetricSelector {
    flex: 0.8;
}

.CustomersActivity_ComparisonMethodSelector {
    margin-right: 10px;
}


.CustomersActivityFilterBuilder{
    max-width: 90vw;
}

div.dx-filterbuilder-action-icon:before {
    display: none;
}

div.dx-filterbuilder-text,
div.dx-filterbuilder-group-item,
div.dx-filterbuilder-group {
    text-align: left;
}