.CustomersActivityContainer,
.CustomersActivity_Sets {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    /* background-color: rgb(127, 255, 185); */
}

.CustomersActivityContainer {
    width: 100%;
    min-width: 100%;
    height: 100vh;
    gap: 1%;
}

.CustomersActivity_Content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: 'flex-start';
    align-items: stretch;
    /* background-color: rgb(127, 255, 159); */
    gap: 1%;
}

.CustomersActivity_Sets_ScrollView,
.CustomersActivity_Sets {
    /* background-color: rgb(0, 217, 255); */
    flex-basis: 3;
    min-width: 70%
}
