.CustomersActivityContainer,
.CustomersActivityContent {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.CustomersActivity_ComparisonGraph {
    flex: 1;
}