.CustomersActivity_Set,
.CustomersActivity_SetSettingsPanel,
.CustomersActivity_SetSettingsChildPanel,
.CustomersActivity_CatPanel {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 3px;
}

.CustomerActivity_SetHeader {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1%;
    /* background-color: rgba(240, 240, 240, 0.5); */
}

.CustomersActivity_CatPanel {
    padding-bottom: 3%;
}

.CustomerActivity_SetHeader {
    background-color: rgba(240, 240, 240, 0.7);
    gap: 1%;
}

.CustomersActivity_ReplyTypesSelector,
.CustomersActivity_ControlsSelector,
.CustomersActivity_FeaturesSelector {
    flex: 1;
}

.CustomersActivity_TicketsTagsSelector {
    flex: 2;
}

.CustomersActivity_TicketsTypesSelector {
    flex: 1;
    min-width: 30%;
}

.CustomersActivity_TribesSelector,
.CustomersActivity_CustomersGroupsSelector {
    flex: 1;
    min-width: 50%;
}

.dx-overlay-content .dx-toolbar {
    padding: 5px;
    margin: 0px;
}

.SetHeaderButton .dx-button-content {}

.SetHeaderRenameButton .dx-button-content {
    /* padding: 0px; */
}

.SetHeaderRenameButton {
    margin-bottom: 0px;
    margin-left: 7px;
}

.SetHeaderTitle {
    font-weight: bold;
    font-size: large;
    padding-right: 25px;
    padding-left: 15px;
}