.CustomersActivity_Set,
.CustomersActivity_SetSettingsPanel,
.CustomersActivity_SetSettingsChildPanel {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 3px;
}

.CustomersActivity_SetSettingsPanel {
    padding-left: 1px;
    padding-right: 1px;
}

.CustomersActivity_Set {
    padding-right: 6px;
    padding-bottom: 3%;
}

.CustomerActivity_SetHeader {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1%;
}

.CustomerActivity_SetHeader {
    background-color: rgba(240, 240, 240, 0.7);
    gap: 1%;
}

.CustomersActivity_RankSelector.dx-texteditor-input {
    font-size: medium;
    padding-left: 13px;
}

.CustomersActivity_RankSelector.dx-numberbox-spin-button {
    padding: 2px;
    padding-bottom: 3px;
    padding-right: 3px;
}

#RankSelector_resetButton.dx-state-hover {
    background-color: rgb(230, 230, 230);
}

.SetHeaderTitle {
    font-weight: bold;
    font-size: large;
    padding-right: 25px;
    padding-left: 15px;
}

.SetHeaderRenameButton {
    margin-left: 7px;
}
