.CustomerActivity_SetHeader {
    display: flex;
    flex-flow: row nowrap;
    justify-content: 'flex-start';
    align-items: center;
    padding-left: 8px;
    gap: 3%;
    background-color: rgb(127, 227, 255);
}