.CustomersActivity_SetSettingsPanel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    gap: 1%;
}

.CustomersActivity_CustomersGroupsSelector,
.CustomersActivity_TicketsTypesSelector,
.CustomersActivity_TicketsTagsSelector,
.CustomersActivity_TribesSelector {
    flex-grow: 5;
}

.CustomersActivity_ApplyButton {
    margin-top: 1%;
    flex-grow: 1;
}