.CustomersActivity_SetsComparisonPanel {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    /* background-color: rgba(246, 246, 246, 0.5); */
    flex:1;
    flex-grow: 1;
}

.CustomersActivity_ComparisonGraph {

}