.CostMetrics_GroupByPeriodSelector,
.CostMetrics_MetricSelector,
.CostMetrics_AggBySelector,
.CostMetrics_ComparisonMethodSelector {
    min-height: 3rem;
    height: 3rem;
    width: 10vw;
}

.CostMetrics_PeriodSelector {
    flex: 1.13;
    min-width: 50vw;
}

.CostMetrics_GroupByPeriodSelector {
    flex: 0.7;
}

.CostMetrics_MetricSelector {
    flex: 1.95;
}

.CostMetrics_AggBySelector {
    flex: 0.65
}

.CostMetrics_ComparisonMethodSelector {
    flex: 0.95;
}

.ComparisonGraph_ComparisonMethodSelector {
    margin-right: 10px;
}