.MultiOptionSelectorPopup .dx-overlay-content .dx-toolbar {
    padding: 5px;
    margin: 0px;
}

.MultiOptionSelector {
    padding-right: 0.5px;
}

.ThreeStateSelectorSelector {
    margin-top: 7px;
    border: 1px solid rgba(221, 221, 221, 255);
    border-radius: 5px;
    padding: 10px;
    color: rgba(153, 153, 153, 255);
}

.OptionSelector {
    padding: 3px;
    padding-top: 4px;
}

.OptionSelector .dx-label-before {
    padding-left: 32px;
}