.tabpanel-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
}

.tabpanel-item-info,
.tabpanel-item-text {
    margin: 0;
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabpanel-item-info:hover,
.tabpanel-item-info.selected {
    background-color: rgba(229, 237, 255, 1);
    cursor: pointer;
}

.tabpanel-item-info:active {
    background-color: rgba(209, 223, 255, 1);
}