.FlexRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: 'flex-start';
  align-items: stretch;
}

.FlexColumn {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.App {
  background-color: rgb(242, 11, 11);
}