.CustomersActivity_PercentileSelector.dx-texteditor-input {
    font-size: medium;
    padding-left: 13px;
}

.CustomersActivity_PercentileSelector.dx-numberbox-spin-button {
    padding: 2px;
    padding-bottom: 3px;
    padding-right: 3px;
}

#PercentileSelector_resetButton.dx-state-hover {
    background-color: rgb(230, 230, 230);
}

.dx-button-content .dx-icon-clear {
    color: rgba(153, 153, 153, 255);
}

.CustomersActivity_BetweenSelectorContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    color: rgba(153, 153, 153, 255);
    border: 1px solid rgba(221, 221, 221, 255);
    border-radius: 5px;
    padding-left: 0.5px;
    font-size: small;
    margin-top: 8px;
}

.CustomersActivity_BetweenSelectorContainer .dx-button-content {
    width: 30px;
    height: 30px;
}

.CustomersActivity_BetweenSelectorContainer .Content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.CustomersActivity_BetweenSelectorContainer .Content .Label {
    padding-left: 32px;
}

.CustomersActivity_BetweenSelectorContainer .Selector {
    padding: 4px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1%;
}

.CustomersActivity_BetweenSelectorContainer .Selector .DateEdit {
    flex: 1 1 auto;
}
