.ForecasterCommandPanel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    /* background-color: rgb(212, 150, 150); */
    flex-grow: 1;
}

.ForecasterGoHomeButton,
.ForecasterUpdateTribeRepliesButton {
    margin: 4px;
}

.ForecasterGoHomeButton {
    margin-right: 8px;
    padding: 0.5px;
}