.ForecasterCommandPanel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: stretch;
    /* background-color: rgb(212, 150, 150); */
    gap: 10px;
    flex-grow: 1;
}

.ForecasterUpdateTribeRepliesButton {
    margin: 3%;
}