.CommonSettingsPanel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: 'flex-start';
    align-items: stretch;
    background-color: rgb(212, 150, 150);
    padding-left: 8px;
    padding-bottom: 8px;
    gap: 10px;
}

.IncomeTypeSelector {
    background-color: coral;
}

.TribesSelector {
    min-width: 30%;
    background-color: coral;
}