.ForecastHeader,
.ForecastBody {
    display: flex;
    flex-flow: row nowrap;
    justify-content: 'flex-start';
    align-items: center;
}

.ForecastContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.ForecastHeader,
.ForecastBody {
    gap: 10px;
}

.TacticalForecastMetric {}

.ForecastGraph {
    background-color: blue;
}

.LoadIndicator {
    display: flex;
    justify-content: center;
    align-items: center;
}