.ForecastContainer,
.TacticalForecastMetric {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.ForecastHeader,
.ForecastBody {
    display: flex;
    flex-flow: row nowrap;
    justify-content: 'flex-start';
    align-items: stretch;
    gap: 10px;
}

.ForecastHeader {
    /* background-color: coral; */
    padding-left: 8px;
    padding-bottom: 8px;
}

.PositionsSelector {
    min-width: 20%;
    /* background-color: orange; */
}

.ForecastGraph {
    /* background-color: blue; */
    width: 100%;
}

.TacticalForecastMetric {
    font-size: x-large;
    justify-content: center;
    align-items: center;
    min-width: 20%;
    width: 20%;
    min-height: 200px;
    height: 100%;
}